<div class="login">
  <%= form_with(url: login_path, scope: :session) do |f| %>

    <p>
      <!--<%= f.label :email, 'メールアドレス' %><br>-->
      <%= f.email_field :email, placeholder:"メールアドレス", class: "textfield" %>
    </p>

    <p>
      <!--<%= f.label :password, 'パスワード' %><br>-->
      <%= f.password_field :password, placeholder:"パスワード", class: "textfield" %>
    </p>

    <p>
      <%= f.submit 'ログイン', class: "login-button" %>
    </p>
  <% end %>

    <p>
      はじめての方は<%= link_to 'こちら', signup_path %>
    </p>
</div>