<h1>新着記事</h1>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article.id) %> / <%= article.content %></li>
  <% end %>
</ul>
<%== pagy_nav(@pagy) %>

<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :tag_name, value: @tag_name %>
    <%= f.submit "検索" %>
  <% end %>
</div>
