<h2 class="mb-5 d-inline-block title"><%= @article.title %></h2>
  <span id="likes_button">
    <%= render 'likes/like_button', article: @article %>
  </span>
  <span class="justify-content-end">
    <%= link_to @article.user.name, user_path(@article.user) %>
  </span>
  
  <div class="mb-5">
    <% if @article.image? %>
      <%= image_tag @article.image.url, class: "article-img" %>
    <% end %>
  </div>

  <div class="content mb-5">
    <%= simple_format(@article.content) %>
  </div>
  <div class="tag mb-2">
    <% @article_tags.each do |tag| %>
      <%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %>
    <% end %>
  </div>
    <%= @article.created_at.to_s(:datetime_jp) %>

  <div class="d-inline-block">
    <% if logged_in? && current_user.id == @article.user_id %>
      <%= link_to edit_article_path(@article) do %>
        <span class="fa-solid fa-pen"></span>
      <% end %>
      <%= link_to @article, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } do %>
        <span class="fa-solid fa-trash-can"></span>
      <% end %>
    <% end %>
  </div>