<div class="signup">
  <%= form_with(model: @user) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
      <p>
        <!--<%= f.label :name, 'ユーザーネーム' %><br>-->
        <%= f.text_field :name, placeholder:"ユーザーネーム", class: "textfield" %>
      </p>

      <p>
        <!--<%= f.label :email, 'メールアドレス' %><br>-->
        <%= f.email_field :email, placeholder:"メールアドレス", class: "textfield" %>
      </p>

      <p>
        <!--<%= f.label :password, 'パスワード' %><br>-->
        <%= f.password_field :password, placeholder:"パスワード", class: "textfield" %>
      </p>

      <p>
        <!--<%= f.label :password_confirmation, 'パスワード（確認）' %><br>-->
        <%= f.password_field :password_confirmation, placeholder:"パスワード（確認）", class: "textfield" %>
      </p>

      <p>
        <%= f.submit 'アカウント作成', class: "signup-button" %>
      </p>
  <% end %>
    
      <p>
        すでにアカウントをお持ちの方は<%= link_to 'こちら', login_path %>
      </p>
</div>