<h1>会員登録</h1>

  <%= form_with(model: @user) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
      <div>
        <%= f.label :name, 'ユーザーネーム' %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label :password_confirmation, 'パスワード(確認)' %>
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.submit '登録する' %>
    <% end %><br>
    
<%= link_to 'ログイン', login_path %>