<div class="user-icon">
  <%= image_tag 'circle-user-solid.svg', size:'50x50' %>
</div>

<h3 class="d-inline-block"><%= @user.name %></h3>
  <div class="d-inline-block">
    <%= render 'relationships/follow_button', user: @user %>
  </div>
  <div>
    <span><%= @count_followings %></span><a href="<%= followings_user_path(@user) %>">  フォロー</a>
    <span><%= @count_followers %></span><a href="<%= followers_user_path(@user) %>">  フォロワー</a>
    <span><%= @count_like_articles %></span><a href="<%= like_articles_user_path(@user) %>">  いいね</a>
  </div>
</div>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article_path(article.id) %> / <%= link_to article.user.name, user_path(article.user) %></li>
    <% end %>
  </ul>
  <%== pagy_nav(@pagy) %>