<h3><%= @user.name %></h3>
<%= render 'relationships/follow_button', user: @user %>
  <ul>
    <li><a href="<%= followings_user_path(@user) %>">フォロー  <span><%= @count_followings %></span></a></li>
    <li><a href="<%= followers_user_path(@user) %>">フォロワー  <span><%= @count_followers %></span></a></li>
    <li><a href="<%= like_articles_user_path(@user) %>">いいね  <span><%= @count_like_articles %></span></a></li>
  </ul>

<h1>ブログタイトル</h1>

<ul>
  <% @user.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article.id) %> / <%= article.content %></li>
  <% end %>
</ul>
<!--%== pagy_nav(@pagy) %-->

  <ul>
    <li><%= link_to '新規投稿', new_article_path %></li>
    <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
  </ul>