<header class="mb-4">
  <nav class="navbar">
    <a class="navbar-brand" href="/">F.LOG</a>

    <div class="justify-content-end">
      <div class="d-inline-block">
        <% unless current_page?(login_path) || current_page?(signup_path) %>
          <%= search_form_for @q, url: search_path do |f| %>
            <div class="input-group">
              <%= f.text_field :tag_name_cont, placeholder:'タグ検索', class: 'search-form' %>
              <%= button_tag type: 'submit', class: "search-button" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if logged_in? %>
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle fa-solid fa-circle-user fa-2x" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %></li>
            <li class="dropdown-item"><%= link_to '新規投稿', new_article_path, class: 'nav-link' %></li>
            <li class="dropdown-item"><%= link_to 'いいねした記事', like_articles_user_path(@current_user), class: 'nav-link' %></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
          </ul>
        </div>
      <% else %>
        <ul class="navbar-nav d-inline-block">
          <% unless current_page?(login_path) || current_page?(signup_path) %>
            <li class="nav-item fa-solid fa-right-to-bracket"><%= link_to ' ログイン', login_path %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </nav>
</header>